Repository owncloud/notifications, pull requests merged in 2018-12, with the labels that each got.

#254 Test that the administrator receives notifications
  tests/acceptance/features/apiNotifications/email-notifications.feature
  tests/acceptance/features/bootstrap/NotificationsContext.php
  tests/acceptance/features/webUINotifications/displayAdminNotificationsOnWebUI.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#256 Standardize CI
  .drone.yml
  .gitignore
  .phan/config.php
  .php_cs.dist
  Makefile
  appinfo/Migrations/Version20170801085340.php
  appinfo/Migrations/Version20170801152524.php
  appinfo/Migrations/Version20180119080933.php
  appinfo/app.php
  composer.json
  composer.lock
  lib/App.php
  lib/AppInfo/Application.php
  lib/Command/Generate.php
  lib/Configuration/OptionsStorage.php
  lib/Controller/EndpointController.php
  lib/Controller/NotificationOptionsController.php
  lib/Handler.php
  lib/Mailer/NotificationMailer.php
  lib/Mailer/NotificationMailerAdapter.php
  lib/Notifier.php
  lib/Panels/Personal/NotificationsPanel.php
  phpstan.neon
  phpunit.xml
  templates/panels/personal/notifications.php
  tests/Unit/AppInfo/ApplicationTest.php
  tests/Unit/CapabilitiesTest.php
  tests/Unit/Command/GenerateTest.php
  tests/Unit/Controller/EndpointControllerTest.php
  tests/Unit/Controller/NotificationOptionsControllerTest.php
  tests/Unit/HandlerTest.php
  tests/Unit/Mailer/NotificationMailerTest.php
  tests/Unit/Panels/Personal/NotificationsPanelTest.php
  tests/Unit/TestCase.php
  vendor-bin/owncloud-codestyle/composer.json
  vendor-bin/phan/composer.json
  vendor-bin/phpstan/composer.json
Labels: 4 - To release, Drone, QA-team

#257 Remove unneeded lines from gitignore
  .drone.yml
  .gitignore
Labels: 4 - To release, QA-team
