Repository owncloud/notifications, pull requests merged in 2019-03, with the labels that each got.

#265 Fix CI
  tests/acceptance/features/bootstrap/NotificationsContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#266 Drop PHP 5.6
  .drone.yml
  appinfo/info.xml
  composer.json
  composer.lock
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team

#267 [stable10] drop php 5.6
  .drone.yml
  appinfo/info.xml
  composer.json
  composer.lock
  tests/acceptance/features/bootstrap/NotificationsContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  vendor-bin/behat/composer.json
Labels: 3 - To Review, QA-team

#268 create the user with default attributes (including email addr)
  tests/acceptance/features/apiNotifications/email-notifications.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests
