Repository owncloud/notifications, pull requests merged in 2019-07, with the labels that each got.

#285 correct test step to send also the username when creating notification
  tests/acceptance/features/apiNotifications/statuscodes.feature
  tests/acceptance/features/bootstrap/NotificationsContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#286 Run tests against latest stable release tarball
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#287 Test against core 10.2.1
  .drone.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#288 Remove stable10 test jobs
  .drone.yml
Labels: 4 - To release, Drone, QA-team
